@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.page__container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100vh;
}


.page__container .left__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #fff;
    padding: 24px;
}

.page__container .left__container .searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    margin-bottom: 18px;
    background-color: #d8d8ff;
}


.page__container .left__container .searchbar img {
    height: 40px;
    object-fit: contain;
}


.page__container .left__container .img__container {
    width: 100%;
    height: 220px;
    margin-bottom: 18px;
}

.page__container .left__container .img__container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.page__container .left__container .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.page__container .left__container .information h1 {
    font-size: 64px;
    font-weight: 400;
}

.page__container .left__container .information h1 span {
    font-size: 24px;
    font-weight: 300;
}

.page__container .left__container .information h2 {
    font-weight: 300;
}


.page__container .left__container .information .line {
    width: 100%;
    border-top: 1px solid black;
    margin-top: 12px;
    margin-bottom: 12px;
}

.page__container .left__container .information .date {
    margin-bottom: 8px;
}


.page__container .left__container .location {
    margin-top: 180px;
    font-weight: 300;
}


.page__container .right__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 110%;
    padding: 32px;
    background-color: #d1d1d1;
}


.page__container .right__container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin-bottom: 24px;
}

.page__container .right__container .header h1 {
    font-weight: 400;
}


.page__container .right__container .card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


.page__container .right__container .card__container .card {
    width: 30%;
    height: 190px;
    margin-bottom: 24px;
    border-radius: 12px;
    background-color: #748CF1;
    padding: 24px;
}


.page__container .right__container .card__container .card p {
    font-size: 28px;
    color: #fff;
}

.page__container .right__container .card__container .card h2 {
    font-size: 38px;
    color: #fff;
    margin-top: 16px;
}


.page__container .right__container .data {
    font-weight: 500;
}